body {
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: pink;
	font-family: 'Poppins', sans-serif;
}

#root {
	width: 550px;
	margin: 0 auto;
	background-color: #fff;
}

section {
	padding: 0 36px;
}
