.modal {
	position: absolute;
	z-index: 999;
	background-color: #fff;
	height: 500px;
	width: 500px;
	left: 50%;
	border-radius: 10px;
	top: 25%;
	transform: translate(-50%, 0);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.modal p {
	font-size: 2rem;
}
