.input-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 47px;
}

.inputs {
	display: flex;
	gap: 25px;
	height: 35px;
	margin-bottom: 15px;
}

.inputs > * {
	flex-grow: 1;
	border-radius: 5px;
	height: 100%;
	font-size: 12px;
	padding: 10px;
	border: 2px solid #d5d4d8;
}

.inputs > *::placeholder {
	font-size: 12px;
	font-family: 'Karla', sans-serif;
}

button {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	border-radius: 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
}

img {
	width: 100%;
}

.meme-output {
	position: relative;
}

.meme--text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
		2px 2px 5px #000;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}
